export(CAMML)
export(BuildGeneSets)
export(GetGeneSets)
export(GetCAMMLLabels)
import("VAM")
import("Seurat")
importFrom("MASS", "fitdistr")
importFrom("Matrix", "t")
importFrom("utils", "read.csv")
import("edgeR")
import("org.Hs.eg.db")
import("org.Mm.eg.db")
import("AnnotationDbi")
import("SeuratObject")